<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Show</title>
</head>
<body>
    <h1>{{dojo[0]['name']}} Ninjas</h1>
    <table>
        <thead>
            <tr>
                <th>First Name:</th>
                <th>Last Name:</th>
                <th>Age:</th>
            </tr>
        </thead>
        <tbody>
            {% for ninja in dojo %}
                <tr>
                    <td>{{ninja.creator.first_name}}</td>
                    <td>{{ninja.creator.last_name}}</td>
                    <td>{{ninja.creator.age}}</td>
                </tr>
            {% endfor %}
            <tr></tr>
        </tbody>
    </table>
    <a href="/dojos">Home</a>
</body>
</html>